body {
    font-family: "Sentinel SSm A", "Sentinel SSm B";
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    font-size: 16px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1024px;
    margin: 0 auto;
    flex: 1;
}

.container.front {
    padding-top: 50px;
}

nav {
    overflow: hidden;
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 11px 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 10'%3E%3Cpath fill='none' stroke='%23434343' stroke-width='3' d='M0 8.5c8 0 8-7 16-7s8 7 16 7 8-7 16-7 8 7 16 7' class='st0'/%3E%3C/svg%3E");
    padding: 0 20px;   
}

h1 {
    margin: 20px 0 20px 20px;
    float: left;
    font-size: 50px;
    font-family: "Sentinel A", "Sentinel B";
    font-weight: normal;
}

h1 a {
    color: #434343;
    text-decoration: none;
}

h1 svg {
	vertical-align: text-top;
}

nav ul {
    list-style: none;
    float: right;
    margin-top: 25px;
    margin: 25px 20px 0 0;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-family: "Operator SSm A", "Operator SSm B";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

nav ul li a svg {
    vertical-align: middle;
    display: inline-block;
    margin-top: -3px;
    margin-right: 5px;
}

code {
    font-family: "Operator Mono SSm A", "Operator Mono SSm B";
    font-style: normal;
    font-weight: 400;
    line-height: 1.6em;
}

.intro {
    max-width: 492px;
    padding: 0 20px 50px;
    float: left;
}

.coverage_list {
    float: left;
    width: 480px;
}

.coverage_history {
    float: left;
    width: 480px;
}

@media all and (max-width: 1021px) {
    nav {
        padding: 15px;
        margin-bottom: 10px;
    }

    h1 {
        margin: 10px;
        float: none;
    }

    h1 a {
        padding: 5px 0;
    }

    nav ul,
    hgroup {
        float: none;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        margin: 0;
    }
    nav ul li.get_started {
        display: none;
    }
  
}

table {
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: .5em;
    border: 1px solid #ccc;
}

footer {
    box-sizing: border-box;
    padding: 17px 15px 10px;
    margin-top: 50px;
    text-align: center;
    clear: both;
    background-position: 0 0;
    background-repeat: repeat-x;
    background-size: 11px 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 10'%3E%3Cpath fill='none' stroke='%23434343' stroke-width='3' d='M0 8.5c8 0 8-7 16-7s8 7 16 7 8-7 16-7 8 7 16 7' class='st0'/%3E%3C/svg%3E");
}

.footer p {
    margin: 0;
}

.vimeo_logo {
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px 10px;
}

footer a:hover svg path {
    fill: #4bf;
}